#root {
  display: flex;
  text-align: center;
  justify-content: center;
  /* cursor: url("nics-face.png"), auto; */
  height: 100vh;
  width: 100vw;
  /* cursor: none; */
}

.nics-face {
  -webkit-animation: myOrbit 1.5s linear infinite;
  -moz-animation: myOrbit 1.5s linear infinite;
  -o-animation: myOrbit 1.5s linear infinite;
  animation: myOrbit 1.5s linear infinite;
}

@-webkit-keyframes myOrbit {
  from {
    -webkit-transform: rotate(0deg) translateX(150px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(150px) rotate(-360deg);
  }
}

@-moz-keyframes myOrbit {
  from {
    -moz-transform: rotate(0deg) translateX(150px) rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg) translateX(150px) rotate(-360deg);
  }
}

@-o-keyframes myOrbit {
  from {
    -o-transform: rotate(0deg) translateX(150px) rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg) translateX(150px) rotate(-360deg);
  }
}

@keyframes myOrbit {
  from {
    transform: rotate(0deg) translateX(150px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(150px) rotate(-360deg);
  }
}

@-webkit-keyframes rotatay {
  from {
    -webkit-transform: rotate(0deg) translateX(0px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(0px) rotate(360deg);
  }
}

@-moz-keyframes rotatay {
  from {
    -moz-transform: rotate(0deg) translateX(0px) rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg) translateX(0px) rotate(360deg);
  }
}

@-o-keyframes rotatay {
  from {
    -o-transform: rotate(0deg) translateX(0px) rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg) translateX(0px) rotate(360deg);
  }
}

@keyframes rotatay {
  from {
    transform: rotate(0deg) translateX(0px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(0px) rotate(360deg);
  }
}
