#root {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  cursor: none;
  overflow: "hidden";
}

@-webkit-keyframes medOrbit {
  from {
    -webkit-transform: rotate(0deg) translateX(175px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(175px) rotate(-360deg);
  }
}

@-moz-keyframes medOrbit {
  from {
    -moz-transform: rotate(0deg) translateX(175px) rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg) translateX(175px) rotate(-360deg);
  }
}

@-o-keyframes medOrbit {
  from {
    -o-transform: rotate(0deg) translateX(175px) rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg) translateX(175px) rotate(-360deg);
  }
}

@keyframes medOrbit {
  from {
    transform: rotate(0deg) translateX(175px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(175px) rotate(-360deg);
  }
}

@-webkit-keyframes wideOrbit {
  from {
    -webkit-transform: rotate(0deg) translateX(250px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(250px) rotate(-360deg);
  }
}

@-moz-keyframes wideOrbit {
  from {
    -moz-transform: rotate(0deg) translateX(250px) rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg) translateX(250px) rotate(-360deg);
  }
}

@-o-keyframes wideOrbit {
  from {
    -o-transform: rotate(0deg) translateX(250px) rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg) translateX(250px) rotate(-360deg);
  }
}

@keyframes wideOrbit {
  from {
    transform: rotate(0deg) translateX(250px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(250px) rotate(-360deg);
  }
}

@-webkit-keyframes narrowOrbit {
  from {
    -webkit-transform: rotate(0deg) translateX(75px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(75px) rotate(-360deg);
  }
}

@-moz-keyframes narrowOrbit {
  from {
    -moz-transform: rotate(0deg) translateX(75px) rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg) translateX(75px) rotate(-360deg);
  }
}

@-o-keyframes narrowOrbit {
  from {
    -o-transform: rotate(0deg) translateX(75px) rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg) translateX(75px) rotate(-360deg);
  }
}

@keyframes narrowOrbit {
  from {
    transform: rotate(0deg) translateX(75px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(75px) rotate(-360deg);
  }
}

@-webkit-keyframes rotatay {
  from {
    -webkit-transform: rotate(360deg) translateX(0px) rotate(630deg);
  }
  to {
    -webkit-transform: rotate(0deg) translateX(0px) rotate(0deg);
  }
}

@-moz-keyframes rotatay {
  from {
    -moz-transform: rotate(360deg) translateX(0px) rotate(360deg);
  }
  to {
    -moz-transform: rotate(0deg) translateX(0px) rotate(0deg);
  }
}

@-o-keyframes rotatay {
  from {
    -o-transform: rotate(360deg) translateX(0px) rotate(360deg);
  }
  to {
    -o-transform: rotate(0deg) translateX(0px) rotate(0deg);
  }
}

@keyframes rotatay {
  from {
    transform: rotate(360deg) translateX(0px) rotate(360deg);
  }
  to {
    transform: rotate(0deg) translateX(0px) rotate(0deg);
  }
}
